button.hamburger {
	background: @mobile-menu-btn-bkg;
	border: 1px solid @mobile-menu-btn-color;
}
.hamburgerLine {
	height: 3px;
	width: 100%;
	margin: 3px auto 0;
	display: block;
	background: @mobile-menu-btn-color;
}